{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if update %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endif %}
    </div>
    <div class="container">
        {% if not listing.isActive and user == listing.price.user %}
            <div class="alert alert-success" role="alert">
                Congrats! You won the auction!
            </div>
        {% endif %}
    </div>

    <div class="row align-items-center justify-content-center">
        {% if user.is_authenticated and listing.isActive %}
            {% if is_owner %}
                <form action="{% url 'close_auction' id=listing.id %}" method="POST" class="text-center mb-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close</button>
                </form>
            {% endif %}

            {% if is_in_watchlist %}
                <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST" class="text-center mb-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'add_watchlist' id=listing.id %}" method="POST" class="text-center mb-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <div class="w-50 mx-auto d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">{{ listing.title }}</h2>
        <img
            class="w-50 mt-2 mb-3"
            src="{{ listing.imageUrl }}"
            alt="{{ listing.title }}"
        >
        <p class="text-center">{{ listing.desc }}</p>
        <div class="w-100 d-flex align-items-center justify-content-between">
            <p class="font-weight-bold">
                Owner: {{ listing.owner }}
            </p>
            <h6 class="font-weight-bold">
                Initial Price: ${{ listing.price.bid }}
            </h6>
        </div>
    </div>

    <div class="w-50 mx-auto d-flex flex-column align-items-center justify-content-center mt-3">
        {% if user.is_authenticated %}
            <form action="{% url 'add_bid' id=listing.id %}" method="POST" class="text-center mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" min="0" name="new_bid" placeholder="Add New Bid">
                    <button type="submit" class="btn btn-primary">Add Bid</button>
                </div>
            </form>
        {% endif %}
        <p>{{ message }}</p>
    </div>

    <div class="w-50 mx-auto d-flex flex-column align-items-center justify-content-center mt-3">
        <h2 class="text-center">Comments</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'add_comment' id=listing.id %}" method="POST" class="text-center mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="new_comment" placeholder="Add New Comment">
                    <button type="submit" class="btn btn-warning">Add</button>
                </div>
            </form>
        {% endif %}
        <ul class="list-group w-100 mb-3">
            {% for comment in comments %}
                <li class="list-group-item d-flex align-items-center justify-content-between py-3">
                    <h5 class="m-0">{{ comment.message }}</h5>
                    <p class="m-0">posted by {{ comment.author }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}