{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'save_edit' %}" method="POST" class="d-flex flex-column w-75">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ title }}">
        <br />
        <label for="content">Content:</label>
        <textarea name="content" id="content">{{ content }}</textarea>
        <br />
        <input type="submit" value="Edit" class="btn btn-primary w-25 align-self-center">
    </form>
{% endblock %}